* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu light', sans-serif;
    list-style-type: none;
    list-style-type: none;
    text-decoration: none;
}

html, body {
    height: 100%;
    font-size: 1.0rem;
    background-color: #eaeaea;
}
.container_fluid {
    width: 90%;
    margin: auto;
    max-height:max-content;
    border-left: 2px dotted #ffffff;
    border-right: 2px dotted #ffffff;
}

header {
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
}

#logo {
    padding: 20px;
    display: flex;
    margin-left: 50px;
    font-weight: bold;
    font-size: 18px;
    color: #ff0000;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    margin: 20px;
}
nav ul li {
    padding-right: 50px;
}

nav ul li a {
    font-weight: bold;
    font-size: 16px;
    color: #ff0000;
    text-transform: uppercase;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
nav ul li a:hover {
    font-weight: bold;
    border: 0px;
    border-bottom: 2px solid #ffffff;
    padding: 0.5rem;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

.btn_toggle i {
    color: #ff0000;
    font-size: 25px;
    margin: 20px;
    margin-right: 20px;
    display: none;
}

/**** Banner of the page ****/
.banner {
    background:linear-gradient(to bottom, rgba(10, 2, 0, 0.968), rgba(0, 0, 0, 0.733)), url(/assets/img/man.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh;
}
.banner_container {
    width: 90%;
    margin: auto;
}
.banner .banner_content h1 {
    color: #ff0000;
    padding: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2rem;
}

.banner .banner_content p {
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 28px;
    color: #f1f1f1;
}

#banner_about {
    border: 1px solid #ffffff;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 30px;
    margin-bottom: 20px;
    margin-right: 50px;
    font-weight: bold;
    border-radius: 20px 20px;
}

#banner_contact {
    border: 1px solid #ffffff;
    color: #fff;
    padding: 10px 30px;
    margin-bottom: 20px;
    margin-right: 50px;
    font-weight: bold;
    border-radius: 20px 20px;  
}
#banner_contact:hover {
    border: 1px solid #ffffff;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 30px;
    margin-bottom: 20px;
    margin-right: 50px;
    font-weight: bold;
    border-radius: 20px 20px;  
}

/**** article_wrapper ****/
.article_wrapper {
    width: 70%;
    float: left;
    margin: auto;
    margin-bottom: 20px;
}
hr {
    margin: 10px;
    border: 0;
    border-top: 1px solid #fcd6d6;
}
.article_design {
    margin-bottom: 10px;
    background-color: #ffffff;
    box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.66); 
}
.article_design h1 {
    padding: 10px;
    background-color: #fd0000;
    font-size: 2rem;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.article_design p {
    padding: 10px;
    font-size: 1rem;
}
#article_links {
    margin-bottom: 2rem;
}

/**** aside_wrapper ****/
.aside_wrapper {
    width: 25%;
    float: right;
    margin: auto;
    margin-bottom: 10%;
}
.aside_wrapper h3 {
    padding: 10px;
    font-size: 1.5rem;
    color: #000000;
    background: #fd0000;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
aside {
    background-color: #ffffff;
    box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.66);
}
aside h1 {
    background: #fd0000;
    margin-bottom: 10px;
    padding: 10px;
}
aside p {
    margin-bottom: 10px;
    padding: 10px;
}

footer {
    display: flex;
    padding: 25px;
    width: 100%;
    background-color: black;
    color: #ff0000;
    margin:auto;
}

footer span {
    color: #fff;
    justify-content: flex-end;
    text-align: right;
    line-height: 4rem;
}
.footer_fluid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 120px;
    margin: auto;
}
.footer_fluid .link_media ul {
    display: flex;
}
.footer_fluid .link_media ul a {
    color: #fff;
    margin-right: 1px 0.2rem;
    padding: 10px;
}
.footer_fluid .link_media ul a i {
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}



/**** Media Query ****/
@media (min-width: 100px) and (max-width: 481px)  {
    /*** header ***/
    nav {
        background-color: #ff0000;
    }
    nav ul {
        display: none;
    }
    #logo {
        color: #000;
        font-weight: bold;
    }
    .btn_toggle i {
        color: #000;
        font-size: 25px;
        margin: 20px;
        margin-right: 25px;
        display: block;
    }
    .banner {
        height: 50vh;
    }
    .banner .banner_content .banner_container h1 {
        color: white;
        padding: 25px;
    }

    .aside_wrapper {
        display: none;
    }
    .article_wrapper {
        width: 100%;
    }
    .banner .banner_content p {
        color: #fff;
        font-size: 16px;
    }
    .banner .banner_content a {
        margin-left: 20px;
    }
    #contact_as {
        display: none;
    }
}

@media (min-width: 482px) and (max-width: 769px)  {
    /*** header ***/
    nav {
        background-color: #ffffff;
        flex-wrap: nowrap;
        height: 55px;
    }
    #mylinks {
        display: none;
        width: 90%;
        position: absolute;
        height: 100px;
        padding: 1px;
        margin: auto;
        margin-top:55px;
        margin-bottom: 20px;
        flex-direction: column;
        background-color: #fd0000;
        row-gap: 2;
        text-align: left;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    nav ul li:hover {
        padding: 10px;
        font-weight: bold;
        background-color: #000;
    }
    nav ul li{
        padding: 5px;
        margin-left: 25px;
        width: 90%;
    }
    nav ul li a {
        color: #eaeaea;
    }

    #logo {     
        color: #ff0000;
        font-weight: bold;
        margin-left: 10px;
        line-height: 20px;
    }
    .btn_toggle i {
        color: #000;
        font-size: 25px;
        margin: 20px;
        margin-right: 25px;
        display: block;
    }
    .banner {
        height: 57vh;
    }
    .banner .banner_content .banner_container h1 {
        color: white;
        padding: 25px;
    }
    .aside_wrapper {
        margin-top: 20px;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .article_wrapper {
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 990px)  {
    /*** header ***/
    nav {
        background-color: #ffffff;
    }
    nav ul {
        display: none;
    }
    #mylinks {
        display: none;
        width: 90%;
        position: absolute;
        height: 100px;
        padding: 1px;
        margin: auto;
        margin-top:55px;
        margin-bottom: 20px;
        flex-direction: column;
        background-color: #fd0000;
        row-gap: 2;
        text-align: left;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    nav ul li:hover {
        padding: 10px;
        font-weight: bold;
        background-color: #000;
    }
    nav ul li{
        padding: 5px;
        margin-left: 25px;
        width: 90%;
    }
    nav ul li a {
        color: #eaeaea;
    }
    #logo {
        color: #000;
        font-weight: bold;
    }
    .btn_toggle i {
        color: #000;
        font-size: 25px;
        margin: 20px;
        margin-right: 25px;
        display: block;
    }
    .banner {
        height: 44vh;
    }
    .banner .banner_content .banner_container h1 {
        color: white;
        padding: 25px;
    }
    .aside_wrapper {
        margin-top: 20px;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .article_wrapper {
        width: 100%;
    }
}