* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu light', sans-serif;
    list-style-type: none;
    list-style-type: none;
    text-decoration: none;
}

html, body {
    height: 100%;
    font-size: 1.0rem;
}
.container_fluid {
    width: 90%;
    margin: auto;
    background-color: aqua;
}

header {
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
}

#logo {
    padding: 25px;
    display: flex;
    margin-left: 80px;
}

nav ul {
    display: flex;
    margin: 25px;
}
nav ul li {
    padding-right: 60px;
}














footer {
    padding: 25px;
    display: flex;
    background-color: black;
    color: #fff;
}
span {
    text-align: center;
}