* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu light', sans-serif;
    list-style-type: none;
    list-style-type: none;
    text-decoration: none;
}

html, body {
    height: 100%;
    font-size: 1.0rem;
}
.container_fluid {
    width: 90%;
    margin: auto;
    background-color: aqua;
}

header {
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
}

#logo {
    padding: 20px;
    display: flex;
    margin-left: 50px;
    font-weight: bold;
    font-size: 18px;
    color: #ff0000;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    margin: 20px;
}
nav ul li {
    padding-right: 50px;
}

nav ul li a {
    font-weight: bold;
    font-size: 16px;
    color: #ff0000;
}

.btn-toggle i {
    color: #ff0000;
    font-size: 25px;
    margin: 20px;
    margin-right: 20px;
    display: none;
}

/**** Banner of the page ****/
.banner {
    background:linear-gradient(to bottom, lightblue, lightgreen);
    height: 35vh;
}
.banner .banner_content h1 {
    color: #ff0000;
    padding: 30px;
    font-weight: bold;
    font-size: 2rem;
}

.banner .banner_content p {
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 25px;
    margin-left: 20px;
}

.banner .banner_content a {
    border: 2px solid #fff;
    border-radius: 50px 50px;
    background-color: #ff0000;
    color: #fff;
    padding: 11px 22px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 25px;
    font-weight: bold;
}



/***** btn-search banner *****/
.btn-search {
    padding: 10px;
}

input[type=search] {
    width: 70%;
    padding: 8px;
    display: inline-block;
    position: relative;
}
input[type=submit] {
    padding: 8px 19px;

}











footer {
    padding: 25px;
    background-color: black;
    color: #ff0000;
    text-align: center;
}
